<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@tefirman51">
<meta name="twitter:site" content="@tefirman51">
<meta name="twitter:title" content="Taylor Firman - Answering Strange Questions with Strange Data">
<meta name="twitter:description" content="Hopefully this blog will demonstrate a few intriguing questions and inspire you to set out on your own quest to satisfy your curiosity with the almighty power of data.">
<meta name="twitter:image:src" content="https://tefirman.github.io/images/TaylorFirman_Headshot.jpg">
<meta name="twitter:image:width" content="280">
<meta name="twitter:image:height" content="150">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
